@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
:root {
  --darkGrey: #313638;
  --lightGrey: #cccccc;
  --boxShadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
}
* {
  overflow-x: hidden;
  box-sizing: border-box;
}
.light {
  background-color: #d1d1d1;
  color: var(--darkGrey)
}

.dark {
  background-color: #272b2c;
  color: var(--lightGrey)
}

/* Grouping frequently used properties */
body {
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

/* General styling for body */

body,
main {
  /* width: 100vw; */
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--lightGrey);
}

/* Formatting for all button elements */
.btn {
  margin: 0.5em 0;
  padding: 0.5em 0.75em;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 1.5em;
  border: none;
  box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
}

.btn-dark{
  background-color: var(--darkGrey);
  color: var(--lightGrey);
}

.btn-light {
  background-color: var(--lightGrey);
  color: var(--darkGrey);
}

.btn:hover,
.btn:focus {
  box-sizing: border-box;
  font-weight: bold;
}

/* Media queries for responsive styling */
@media (min-width: 500px) {
  .btn {
    width: 15em;
  }


}
@media (max-width: 500px) {
  .btn {
    padding: 0.25em 0.37em;
  }
}
