@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

:root {
  --darkGrey: #313638;
  --lightGrey: #cccccc;
}

/* Grouping frequently used properties */
.scheme,
.num-colors,
body {
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

/* General styling for body */

body,
main {
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--lightGrey);
}

/* Formatting for all button elements */
.btn {
  width: 100%;
  margin-top: 0.5em;
  padding: 0.5em 0.75em;
  border: 0.08em solid var(--darkGrey);
  background-color: var(--lightGrey);
  font-family: "Inter", sans-serif;
  cursor: pointer;
  box-sizing: border-box;
}

.btn:hover,
.btn:focus {
  box-sizing: border-box;
  border: 0.15em solid var(--darkGrey);
  font-weight: bold;
  box-sizing: border-box;
}

/* Media queries for responsive styling */
@media (min-width: 500px) {
  .btn {
    margin: 0 auto;
    width: 15em;
  }

  .save-btn,
  .delete-btn {
    margin-top: 0.5em;
  }
}

@media (max-width: 500px) {
  .btn {
    padding: 0.25em 0.37em;
  }
}
