/* Formatting for header */
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  box-shadow: var(--box-shadow);
}

h1 {
  margin: 0;
  margin-top: 1rem;
  font-weight: normal;
  font-size: 1.5rem;
  text-align: center;
}
/* Formatting specific to mode button */
.mode-btn {
  height: 100%;
  margin: 0.5em 0;
}

/* Media queries for responsive styling */
@media (min-width: 500px) {
  header {
    margin: 0;
  }
  .mode-btn {
    height: 100%;
    width: 20vw;
  }
}

@media (max-width: 500px) {
  .mode-btn {
    height: 100%;
    width: 20vw;
  }
}
