/* Class to visually hide labels on form elements */
.visually-hidden {
  position: absolute;
  clip-path: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}

/* Formatting for selects container */
.selects {
  width: 100%;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: space-around;
}

.color-form {
  display: flex;
}
.color-input {
  width: 2.5em;
  height: 2.5em;
  margin-right: 6em;
  padding: 0.2em;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.scheme-select {
  border-radius: 1.5em 0 0 1.5em;
}

.num-colors {
  border-radius: 0 1.5em 1.5em 0;
}

select {
  width: 30vw;
  margin-bottom: 0.5em;
  padding: 0.5em;
  border: none;
  box-shadow: var(--box-shadow);
}

.select-light {
  background-color: var(--light-grey);
  color: var(--darkGrey);
}
.select-dark {
  background-color: var(--dark-grey);
  color: var(--light-grey);
}

input:hover,
input:focus,
select:hover,
select:focus {
  font-weight: bold;
}

/* Media queries for responsive styling */
@media (min-width: 500px) {
  .num-select {
    width: 20vw;
  }
}

@media (max-width: 500px) {
  .color-input {
    margin-right: 2em;
  }

  .scheme-select {
    max-width: 8em;
  }
}
