/* Class to visually hide labels on form elements */
.visually-hidden {
  position: absolute;
  clip-path: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}

/* Formatting for selects container */
.selects {
  width: 100%;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: space-around;
}

.color-form {
  display: flex;
  align-items: center;
}

/* Formatting for color selector */
.color-input {
  width: 2.5em;
  height: 2.5em;
  margin-right: 6em;
  padding: 0.2em;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.color-input:hover,
.color-input:focus {
  border: 0.15em solid var(--dark-grey);
}

/* Formatting for selects for number of colors and specific scheme */
.num-colors {
  border-radius: 0 1.5em 1.5em 0;
}

select {
  width: 30vw;
  margin-bottom: 0.5em;
  padding: 0.5em;
  border: none;
  box-shadow: var(--box-shadow);
}

.select-light {
  background-color: var(--light-grey);
  color: var(--darkGrey);
}
.select-dark {
  background-color: var(--dark-grey);
  color: var(--light-grey);
}

select:hover,
select:focus {
  font-weight: bold;
}

.scheme-select {
  border-radius: 1.5em 0 0 1.5em;
}

/* Media queries for responsive styling */
@media (min-width: 500px) {
  .num-select {
    width: 20vw;
  }
  .color-input {
    margin-right: 1em;
  }
}

@media (max-width: 500px) {

  .color-input {
    margin-right: 1em;
  }

  .scheme-select {
    width: 60vw;
    max-width: 12em;
  }
  .num-colors {
    width: 12vw;
  }
}
